html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    color:white;
}
body{
    font-size: medium;
    background-image: url("/imgs/sportsBalls.jpg");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 10%;
    font-size: 16px;
}
select{
    font-size: 16px;
}
#textarea-wrapper{
    width: 195px;
    height: 100px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 10%;
    text-align: center;
}
textarea{
    width: 195px;
    height: 100px;
}
form{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input[type="submit"] {
    box-shadow: 1px 2px;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.flash-msg{
    color: red;
}

#logo{
    display: inline-block;
    width:150px;
    height: 90px;
    text-align: center;
    margin-bottom: 1%;
}