
#logo{
    display: inline-block;
    width:200px;
    height: 150px;
    text-align: center;
}

h4 {
    margin-top: 2em;
    text-align: center;
}
#home{
    color:black;
    background-color: #fae58a;
    text-align: center;
}
#login{
    padding: 2em;
    /* margin-top: 2em; */
    border: 2px solid white;
    display: inline-block;
    margin-right: 12em;
    text-align: center;
}

#or {
    display: inline-block;
    font-weight: bold;

    /* margin-bottom: 5em; */
}
#new-user {
    margin-left: 13em;
    padding-left: 4.6em;
    padding-right: 4.6em;
    padding-top:5.1em;
    padding-bottom:2.5em;
    border: 2px solid white;
    display: inline-block;
}

/* black: #000000 ink: #062F4F posy: #813772 embers: #B82601 */