/* TODO: create Columns on either side with blurred sports images */
#logo{
    display: inline-block;
    width:150px;
    height: 90px;
    text-align: center;
}
body {
    color:black;
    background-color: #fae58a;
    text-align: center;
}

input[type="submit"] {
    box-shadow: 1px 2px; 
}

.flash-msg{
    color: red;
}