<!DOCTYPE html>
<html>
  <head>
    <title>Create User</title>
    <link rel="stylesheet" href="/static/styling_css/create_user.css">
    <h1>Create User</h1>  <img id="logo" src="/static/imgs/redLogo.png">

  </head>

  <body>

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
      <div>
        <h2>Tell us about yourself!</h2>
        <form action="/users" method="POST">
          <input type="text" name="username" placeholder="Username"><br>
          <input type="text" name="password" placeholder="Password"><br><br>
          Sport: <br>
          <select name="sports" id="sports">
            <option value="1">Soccer</option>
            <option value="2">Basketball</option>
            <option value="3">Volleyball</option>
          </select>
          
            <br>
          City: <br>
          <select name="cities" id="cities">
              <option value="1">San Francisco</option>
              <option value="2">Sacramento</option>
              <option value="3">Los Angeles</option>
          </select>
          <br><br>
          
         
          <div id="textarea-wrapper">
            <label>Bio:</label>
            <textarea type="text" id="bio" 
            placeholder="What kind of player are you?" maxlength="50"></textarea><br>
            <label>characters remaining:</label>
              <span class="chars" id="charlength">50</span> 
          </div>
          <br><br>
          <input type="submit" value="Create Account and Login"><br>
        </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="/static/js_files/bioBox.js"></script>
</html>