<!DOCTYPE html><html>
<h2>Create account</h2>
  <body>
    <form action="/">
      username:
      <input type="text" name="username"><br>
      password:
      <input type="text" name="password"><br><br>
      sport(s): <br>
      <input type="checkbox" name="soccer">Soccer<br>
      <input type="checkbox" name="basketball">Basketball<br>
      <input type="checkbox" name="volleyball">Volleyball<br><br>
      city: <br>
      <select name="cities" id="cities">
          <option value="San Francisco">San Francisco</option>
          <option value="Sacramento">Sacramento</option>
          <option value="Los Angeles">Los Angeles</option>
      </select>
      <br><br>
      bio: <br>
      <input type="text" name="bio"><br>
      <br>
      <input type="submit" value="Create Account and return to Login"><br>
    </form>

</body>

</html>