{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block head %}Create Account{% endblock %}

  {% block body %}
    <form action="/users" method="POST">
      username:
      <input type="text" name="username"><br>
      password:
      <input type="text" name="password"><br><br>
      sport: <br>
      <select name="sports" id="sports">
        <option value="1">Soccer</option>
        <option value="2">Basketball</option>
        <option value="3">Volleyball</option>
      </select>
      
        <br>
      city: <br>
      <select name="cities" id="cities">
          <option value="1">San Francisco</option>
          <option value="2">Sacramento</option>
          <option value="3">Los Angeles</option>
      </select>
      <br><br>
      bio: <br>
      <input type="text" name="bio"><br>
      <br>
      <input type="submit" value="Create Account and Login"><br>
    </form>

  {% endblock %}