{% extends 'base.html' %}
{% block title %}Potential Teams{% endblock %}

{% block head %}Potential Teams
<style>
h1{
  margin-top: 1%;
  color: white;
}
body{
    font-size: medium;
    background-image: url("/static/imgs/sportsBalls.jpg");
    text-align: center;
    font-family: Helvetica;
}
ul {
  background-color: white;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%; 
  text-align: left;
  background: rgba(255,255,255,0.9);
}

ul li {
  display: list-item;
  list-style: "";
  padding-top: 3%;
  padding-bottom: 3%;
}
.flash-msg {
  color: red;
}
</style>
{% endblock %}

  {% block body %}
  <ul>
     {% for team in potential_teams %}
        <li>
          <h3><i class="fas fa-volleyball-ball"></i><a href="/teams/{{ team.team_id }}">
              {{ team.team_name }}
            </a></h3>
        </li>
      {% endfor %}
  </ul>
  {% endblock %}