{% extends 'base.html' %}

{% block title %}Login{% endblock %}

  <h4>{% block head %}Welcome to Login page!{% endblock %}</h4>

  {% block body %}
      
    <form action="/login">
      username:
      <input type="text" name="username"><br>
      password:
      <input type="text" name="password"><br>
      <input type="submit" value="Login"><br>
    </form>

    <form action="/createuser">
      <h4>Are you a new user?</h4>
      <input type="submit" value="Create new user">
    </form>

  {% endblock %}
