<!DOCTYPE html>
<html id="home">
  <title>Team Connect</title>
<head>

<link rel="stylesheet" href="/static/homepage.css">

  <p><h1>Welcome to Team Connect!</h1> <img id="logo" src="/static/logo.png"></p>
</head>

  <h2>Sign In</h2>

  <body>

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    <div id="login">
      <form method="POST" action="/login">
        <h4>Already have an account?</h4>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="Login"><br>
      </form>
      <form action="/createuser" >
        <h4 id="new-user-text">Are you a new user?</h4>
        <input type="submit" value="Create account">
      </form>
    </div>
  </body>
</html>