{% extends 'base.html' %}
{% block title %}Navigation{% endblock %}
{% block head %}Navigation{% endblock %}

    {% block body %}
    
        <ul> 
            <li><a href="/">Logout</a></li><br>
            <li><a href="/users">View all users</a></li><br>
            <li><a href="/search_users">View all potential teammates</a></li><br>
            <li><a href="/createteam">Create a team</a></li><br>
            <li><a href="/teams">View all teams</a></li><br>
            <li><a href="/search_teams">View all potential teams</a></li><br>
        </ul>
    {% endblock %} 
