{% extends 'base.html' %}
{% block title %}Team: {{team.team_name}}{% endblock %}

{% block head %}Team: {{team.team_name}} {% endblock %}

  {% block body %}
          <h2>{{team.team_name}}:</h2><br>
          Sport: {{team.sport.sport_name}}<br>
          City: {{team.city.city_name}}<br>
          Team's Description: {{team.description}}
          
          <li>{% for player in players %}
            <a href="/users/{{ player.user.user_id }}">
                {{player.user.username}} </a>
            {% endfor %}
        </li>
            

  
  {% endblock %}