
{% extends 'base.html' %}
   
{% block title %}Team{% endblock %}
{% block head %}Team{% endblock %}
  
  {% block body %}
      
          <h2>{{team.team_name}}</h2><br>
          Captain: {{team.captain.username}} <br>
          Sport: {{team.sport.sport_name}}<br>
          City: {{team.city.city_name}}<br>
          Team's Description: {{team.description}}<br><br>
       
          <h3>Players</h3>
          <form id="add">

            <label for="phone">What is the best phone number for your teammates to reach you at?</label>
            <input type="text" name="phone" id="phone" required>
            <button type="submit" id="add-player" value=button_label>Join/Leave</button>

        </form>
        

          <ul id="player-list">
            <div id="new-player"></div>
            
          {% for player in players %}
            <li id={{player.user.user_id}}> 
                <a href="/users/{{ player.user.user_id }}">
                {{player.user.username}}</a>
                   
            </li>
            {% endfor %}
          
        </ul>
        
        <script src="/static/Add_player.js"></script>
   {% endblock %}
  